@font-face {
    font-family: 'press_start_2pregular';
    src: url('../Assets/fontpixel/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('../Assets/fontpixelpressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background-image: url("../Assets_secret/lafevegrey.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
}

.content{
    position: absolute;
    width : 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.content #logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: white;
    font-family: "press_start_2pregular";
    font-size: 15px;
    margin: 0;
}
h3{
    color: white;
    font-family: "press_start_2pregular";
}
a{
    color: white;
    font-family: "press_start_2pregular";
}

.copy{
    visibility: hidden;
    pointer-events:none;
}


.formulaire{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}



.content #email{
    height: 25px;
    width: 250px;
    font-family: "press_start_2pregular";
    color: black;
    border: none;
    background-color: white;
}
input::placeholder {
    color: black;
    opacity: 1;
    margin: 0;
    vertical-align: middle;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    bottom: 0;
    margin-bottom: -12px;
}

button{
    height: 30px;
    width: 50px;
    font-family: "press_start_2pregular";
    background-color: white;
    border: none;
    cursor: pointer;
}
button p{
    color: black;
    font-family: "press_start_2pregular";
    left: 12px;
    vertical-align: middle;
}

.legende p{
    color: white;
    font-family: "press_start_2pregular";
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
}


.inputs{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 320px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}